{{#.}}
* <a name="#{{tag}}">{{tag}}</a> - _{{blurb}}_
{{/.}}

{{#.}}
### <a name="{{tag}}"></a>{{tag}}

{{{description}}}

{{#has_opts}}
Options:
{{/has_opts}}

{{#opts}}
* __{{name}}__ (default `{{{defaultvalue}}}`)

  {{{description}}}
{{/opts}}

{{^has_opts}}
_(The `{{tag}}` tag does not have any options.)_
{{/has_opts}}

{{/.}}